body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0;
    background-color: #e0f7fa;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#folders, #files, #bin {
    width: 100%;
    margin: 20px 0;
}

.folder, .file {
    padding: 15px;
    margin: 8px 0;
    border: 1px solid #80deea;
    cursor: pointer;
    background-color: #4dd0e1;
    color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.folder:hover, .file:hover {
    background-color: #26c6da;
    transform: scale(1.05);
}

.file-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

#file-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #00796b;
}

#file-list-header button {
    background-color: #00796b;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

#file-list-header button:hover {
    background-color: #004d40;
}

#bin .file {
    background-color: #ffcccb;
}

#bin h3 {
    color: #d32f2f;
}

#bin button {
    background-color: #d32f2f;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

#bin button:hover {
    background-color: #b71c1c;
}
